@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.one,
.two {
    display: flex;
}

.one,
.two,
.three,
footer {
    padding: 0 80px 0 80px;

}

.half-width {
    width: 50%;
}

img {
    width: 80%;
}

a {
    text-decoration: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 10px 40px;
    color: white;
    font-size: 18 px;
    font-weight: 600;
}

.one {
    padding-top: 50px;
    padding-bottom: 50px;
}

.one .div-one {
    margin: auto;
}

.one h1,
.two h1 {
    color: rgb(82, 82, 82);
}

.one h1 span {
    color: tomato;
}

.two {
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.two img {
    width: 40%;
}

.two .div-two {
    margin: auto;
}

.three .div-one {
    display: flex;
    justify-content: center;
    /* width: 40%; */
    margin: auto;
    padding: 40px;
}

.three .div-two {
    margin: auto;
    display: flex;
    justify-content: center;
}

.three .card {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgb(185, 185, 185);
}

.three .card-one {
    margin-right: 10px;
}

.three .card-two {
    margin-left: 10px;
}

.three .card img {
    width: 100%;
}

.three .div-three {
    margin: 50px 0;
    padding: 20px;
    box-shadow: 0 0 40px rgb(185, 185, 185);
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
}

footer {
    background-color: black;
    color: gray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

footer span {
    color: orange;
}